
$white: #FFFFFF;
$yellow: #dfab00;
$dark-blue: #1E3A8A;
$green: #10B981;

$font-family: 'Arial', sans-serif;
$font-size-base: 16px;

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.9rem;
$spacing-lg: 1.3rem;
$spacing-xl: 1.8rem;

$border-radius: 8px;
$border-width: 2px;